<h1>GPAポイント追加</h1>
<%= form_with model: @gpa, url: gpas_path do |f| %>
	<div>
        <%= f.label :classname %>
        <%= f.text_field :classname %>
    </div>
    <div>
        <%= f.label :evaluation %>
        <%= f.select :evaluation, Gpa.evaluations.keys.map {|k| [k, k]} %>
    </div>
    <div>
        <%= f.submit %>
    </div>
<% end %>
<%= link_to "戻る", gpas_path %>